body{
    background-color: #f1efef;
}

h1{
    text-align: center
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: 16pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ol li {
    list-style: none;
    text-align: center;
    font-size: 14pt;
    line-height: 2em;
}

#GT_descrip{
    text-align: left
}

#Luxury_descrip{
    text-align: left
}