body{
    background-color: #f1efef;
}

.logo_gt{
    position: absolute;
    top: 10px;
    left: 10px;  

}

.logo_sport{
    position: absolute;
    top: 10px;
    left: 10px;  

}

.logo_lux{
    position: absolute;
    top: 10px;
    left: 10px;  

}

h1{
    text-align: center
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: 16pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ol li {
    list-style: none;
    text-align: center;
    font-size: 14pt;
    line-height: 2em;
}

.gt{
    text-align: left
}

.luxury{
    text-align: left
}
