body{
    background-color: #f1efef;
}

.logo_240sx{
    position: absolute;
    top: 10px;
    left: 10px;  

}

.logo_mk4_supra{
    position: absolute;
    top: 10px;
    left: 10px;  
}

.logo_lex_ls400{
    position: absolute;
    top: 10px;
    left: 10px;    
}

h1{
    text-align: center;
    margin-top: 16%;
}

h2{
    text-align: center;
}

p{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

#Twoforty_descrip{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Mk4_Supra_descrip{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Lex_LS400_descrip{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;    
}

img {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Twofortysx_img{
        list-style: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
}

#Mk4_Supra_img{
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#Lex_LS400_img{
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;    
}

ol li{
    list-style: none;
    text-align: center;
    font-size: 14pt;
    line-height: 2em;
}
