body{
    background-color: #f1efef;
}

.logo_240sx{
    position: absolute;
    top: 10px;
    left: 10px;  

}

h1{
    text-align: center;
    margin-top: 16%;
}

h2{
    text-align: center;
}

#Twoforty_descrip{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

img {
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Twofortysx_img{
        list-style: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

ol li{
    list-style: none;
    text-align: center;
    font-size: 14pt;
    line-height: 2em;
}
